/* Footer */

footer {
    scroll-snap-align: start;
    background: black;
    z-index: var(--z-back);
    position: relative;
}

footer h2 {
    position: absolute;
    bottom: 2vh;
    color: white;
    font-weight: 200;
}