/* Header */

header {
    overflow: hidden;
}

header>img {
    z-index: 2;
    object-fit: cover;
    width: 100%;
}

header>img:first-of-type {
    z-index: 0;
}

header h1 {
    position: fixed;
    z-index: 1;
    pointer-events: none;
}

header .header_gradient {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--dark-color), transparent);
}