* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: 'Comfortaa', cursive;
}

header {
	background-image: url(../images/volcano.jpg);
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 15vw;
	color: white;
}
header h2 {
	border-bottom: 1px solid white;
}	

section {
	background: rgb(45, 45, 45);
	background: linear-gradient(90deg, rgba(45, 45, 45, 1) 0%, rgba(28, 28, 28, 1) 100%);
}

section h2{
	color: white;
}

.fullpage {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.halfpage {
	min-height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}