@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('buttons.css');
@import url('scroll-up.css');
@import url('section_about.css');
@import url('section_home.css');
@import url('section_portfolio.css');
@import url('section_project_in_mind.css');
@import url('section_qualification.css');
@import url('section_skills.css');

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --first-color: black;
    --first-color-second: black;
    --first-color-alt: #eb7100;
    --title-color: black;
    --hero-text-color: white;
    --text-color: #7C706A;
    --text-color-light: #998F8F;
    --body-color: black;
    --section-color: white;
    /*========== Font and typography ==========*/
    --body-font: 'Jost', 'Quicksand', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --hero-text-font-size: 4.5rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --hero-text-font-weight: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: .1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-back: 10;
    --z-back-mid: 50;
    --z-mid: 100;
    --z-mid-front: 200;
    --z-front: 1000;
}


/* Font size for large devices */

@media screen and (min-width: 968px) {
     :root {
        --hero-text-font-size: 6rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*==================== BASE ====================*/

.fixed {
    width: 100vw;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.doublepage {
    min-height: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.onehalfpage {
    min-height: 150%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fullpage {
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: start;
}

.halfpage {
    min-height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
main {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

section {
    z-index: var(--z-mid);
    position: relative;
    background: var(--section-color);
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

#hero_text {
    color: var(--hero-text-color);
    font-size: var(--hero-text-font-size);
    font-weight: var(--hero-text-font-weight);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: var(--z-back-mid);
}


/*===================
= REUSABLE CSS CLASSES ====================*/

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}


/*==================== LAYOUT ====================*/

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    z-index: var(--z-fixed);
    bottom: 0;
    left: 0;
}


/*Progress Bar*/

.progress {
    z-index: var(--z-front);
    height: 3px;
    width: 0%;
    background-color: var(--first-color-alt);
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes progress {
    to {
        width: 100%;
    }
}


/*==================== MEDIA QUERIES ====================*/


/* For small devices */

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    .home__content {
        grid-template-columns: .25fr 3fr;
    }
    .skills__title {
        font-size: var(--normal-font-size);
    }
    .qualification__data {
        gap: .5rem
    }
    .project__img {
        width: 200px;
    }
}


/* For medium devices */

@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data {
        grid-column: initial;
    }
    .home__img {
        order: 1;
        justify-self: center;
    }
    .about__container,
    .skills__container,
    .portfolio__content,
    .project__container,
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .section__subtitle {
        margin-bottom: 4rem;
    }
    .header {
        top: 0;
        bottom: initial;
    }
    .header,
    .main {
        padding: 0 1rem;
    }
    .home__container {
        row-gap: 5rem;
    }
    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .about__container {
        column-gap: 5rem;
    }
    .about__img {
        width: 350px;
    }
    .about__description {
        text-align: initial;
    }
    .about__info {
        justify-content: space-between;
    }
    .about__buttons {
        justify-content: initial;
    }
    .qualification__tabs {
        justify-content: center;
    }
    .qualification__button {
        margin: 0 var(--mb-1-5);
    }
    .qualification__sections {
        grid-template-columns: .5fr;
    }
    .portfolio__img {
        width: 320px;
    }
    .portfolio__content {
        align-items: center;
    }
    .project {
        text-align: initial;
    }
    .project__bg {
        background: none;
    }
    .project__container {
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project__data {
        padding-top: .8rem;
    }
}


/* For large devices */

@media screen and (min-width: 1024px) {
    .header,
    .main {
        padding: 0;
    }
    .home__social {
        transform: translateX(-6rem);
    }
    .portfolio__content {
        column-gap: 5rem;
    }
    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }
    .swiper-button-prev {
        left: -3.5rem;
    }
    .swiper-button-next {
        right: -3.5rem;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -4.5rem;
    }
    .contact__form {
        width: 460px;
    }
    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}