@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('scroll-up.css');
@import url('section_about.css');
@import url('section_contact.css');
@import url('section_home.css');
@import url('section_portfolio.css');
@import url('section_project_in_mind.css');
@import url('section_qualification.css');
@import url('section_skills.css');
@import url('buttons.css');

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 21;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    --first-color: black;
    /*hsl(var(--hue-color), 69%, 61%);*/
    --first-color-second: black;
    /*hsl(var(--hue-color), 69%, 61%);*/
    --first-color-alt: #2fc54f;
    --first-color-lighter: #bababa;
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --hero-text-color: white;
    --text-color: hsl(var(--hue-color), 8%, 45%);
    /*hsl(var(--hue-color), 8%, 45%);*/
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    /*========== Font and typography ==========*/
    --body-font: 'Jost', 'Quicksand', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --hero-text-font-size: 4.5rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --hero-text-font-weight: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: .1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-back: 10;
    --z-back-mid: 50;
    --z-mid: 100;
    --z-mid-front: 200;
    --z-front: 1000;
    --dark-color: #071112;
    --light-color: #FFF;
    --accent-color: #e62121;
    --accent-gradient: linear-gradient(0deg, #926c3a, #836231);
    --parallax-height: 1000px;
    /*Geschwindigkeit*/
    --max-parallax-scroll: -0.17s;
}


/* Font size for large devices */

@media screen and (min-width: 968px) {
     :root {
        --hero-text-font-size: 6rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*========== Variables Dark theme ==========*/

body.dark-theme {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}


/*========== Button Dark/Light ==========*/

.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}


/*==================== BASE ====================*/

.fixed {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.doublepage {
    min-height: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.onehalfpage {
    min-height: 150%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fullpage {
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: start;
}

.halfpage {
    min-height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
main {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100px);
    scroll-snap-type: y proximity;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

section {
    z-index: var(--z-mid);
    position: relative;
    background: var(--body-color);
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

#hero_text {
    color: var(--hero-text-color);
    font-size: var(--hero-text-font-size);
    font-weight: var(--hero-text-font-weight);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: var(--z-back-mid);
}


/*===================
= REUSABLE CSS CLASSES ====================*/

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}


/*==================== LAYOUT ====================*/

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


/*Progress Bar*/

.progress {
    z-index: 100;
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes progress {
    to {
        width: 100%;
    }
}


/*==================== MEDIA QUERIES ====================*/


/* For small devices */

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    .nav__menu {
        padding: 2rem .25rem .4rem;
    }
    .nav__list {
        column-gap: 0;
    }
    .home__content {
        grid-template-columns: .25fr 3fr;
    }
    .home__blob {
        width: 180px;
    }
    .skills__title {
        font-size: var(--normal-font-size);
    }
    .qualification__data {
        gap: .5rem
    }
    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services__content {
        padding-right: 3.5rem;
    }
    .services__modal {
        padding: 0 .5rem;
    }
    .project__img {
        width: 200px;
    }
    .testimonial__data,
    .testimonial__header {
        flex-direction: column;
        align-items: center;
    }
    .testimonial__img {
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }
    .testimonial__data,
    .testimonial__description {
        text-align: center;
    }
}


/* For medium devices */

@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data {
        grid-column: initial;
    }
    .home__img {
        order: 1;
        justify-self: center;
    }
    .about__container,
    .skills__container,
    .portfolio__content,
    .project__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .section__subtitle {
        margin-bottom: 4rem;
    }
    .header {
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }
    .nav__list {
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu {
        margin-left: auto;
    }
    .change-theme {
        margin: 0;
    }
    .home__container {
        row-gap: 5rem;
    }
    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob {
        width: 270px;
    }
    .home__scroll {
        display: block;
    }
    .home__scroll-button {
        margin-left: 3rem;
    }
    .about__container {
        column-gap: 5rem;
    }
    .about__img {
        width: 350px;
    }
    .about__description {
        text-align: initial;
    }
    .about__info {
        justify-content: space-between;
    }
    .about__buttons {
        justify-content: initial;
    }
    .qualification__tabs {
        justify-content: center;
    }
    .qualification__button {
        margin: 0 var(--mb-1-5);
    }
    .qualification__sections {
        grid-template-columns: .5fr;
    }
    .services__container {
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }
    .services__icon {
        font-size: 2rem;
    }
    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }
    .services__modal-content {
        width: 450px;
    }
    .portfolio__img {
        width: 320px;
    }
    .portfolio__content {
        align-items: center;
    }
    .project {
        text-align: initial;
    }
    .project__bg {
        background: none;
    }
    .project__container {
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project__data {
        padding-top: .8rem;
    }
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg {
        padding: 3rem 0 3.5rem;
    }
    .footer_links {
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials {
        justify-self: flex-end;
    }
    .footer__copy {
        margin-top: 4.5rem;
    }
}


/* For large devices */

@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }
    .home__blob {
        width: 320px;
    }
    .home__social {
        transform: translateX(-6rem);
    }
    .services__container {
        grid-template-columns: repeat(3, 238px);
    }
    .portfolio__content {
        column-gap: 5rem;
    }
    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }
    .swiper-button-prev {
        left: -3.5rem;
    }
    .swiper-button-next {
        right: -3.5rem;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -4.5rem;
    }
    .contact__form {
        width: 460px;
    }
    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}