/* Section Contact */

.section__contact_me .contact-me {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.section__contact_me .contact-me h2 {
    text-align: center;
    padding-bottom: 4vh;
}

.section__contact_me .contact-me input,
.section__contact_me .contact-me textarea {
    padding: 10px;
    background: transparent;
    outline: none;
    border: solid 1px var(--dark-color);
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    font-family: var(--font-family);
    border-bottom: solid 1px var(--dark-color);
    border-radius: 1vw;
    margin-bottom: 1vh;
    resize: vertical;
    font-size: var(--h3-font-size);
}

.section__contact_me .contact-me textarea {
    height: 40vh;
}

.section__contact_me .contact-me input:hover,
.section__contact_me .contact-me textarea:hover,
.section__contact_me .contact-me input:focus,
.section__contact_me .contact-me textarea:focus {
    background: var(--dark-color);
    color: var(--light-color);
}

.section__contact_me .contact-me input::placeholder,
.section__contact_me .contact-me textarea::placeholder {
    color: var(--dark-color);
}

.section__contact_me .contact-me input:hover::placeholder,
.section__contact_me .contact-me input:focus::placeholder,
.section__contact_me .contact-me textarea:hover::placeholder,
.section__contact_me .contact-me textarea:focus::placeholder {
    color: var(--light-color);
}

.section__contact_me .contact-me a {
    text-decoration: none;
    text-align: right;
    font-size: var(--h3-font-size);
    color: var(--dark-color);
}

.section__contact_me .contact-me a:hover {
    color: var(--first-color-alt);
}