/* Section Contact */

.section_contact {
    background: var(--accent-color);
}

.section_contact .contact-me {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5vw;
}

.section_contact .contact-me h2 {
    color: var(--dark-color);
    text-align: center;
    padding-bottom: 4vh;
}

.section_contact .contact-me input,
.section_contact .contact-me textarea {
    padding: 10px;
    background: transparent;
    outline: none;
    border: solid 1px var(--dark-color);
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    font-family: 'Quicksand', sans-serif;
    border-bottom: solid 1px var(--dark-color);
    border-radius: 1vw;
    margin-bottom: 1vh;
    resize: vertical;
    font-size: 3vw;
}

.section_contact .contact-me textarea {
    height: 40vh;
}

.section_contact .contact-me input:hover,
.section_contact .contact-me textarea:hover,
.section_contact .contact-me input:focus,
.section_contact .contact-me textarea:focus {
    background: var(--dark-color);
    color: var(--light-color);
}

.section_contact .contact-me input::placeholder,
.section_contact .contact-me textarea::placeholder {
    color: var(--dark-color);
}

.section_contact .contact-me input:hover::placeholder,
.section_contact .contact-me input:focus::placeholder,
.section_contact .contact-me textarea:hover::placeholder,
.section_contact .contact-me textarea:focus::placeholder {
    color: var(--light-color);
}

.section_contact .contact-me a {
    text-decoration: none;
    text-align: right;
    font-size: 3vw;
    color: var(--dark-color);
}

.section_contact .contact-me a:hover {
    color: var(--light-color);
}