body, html {
  height:100%;
  margin:0;
  padding: 0;
  font-size:1.5vw;
  font-family: 'Poppins', sans-serif;
  font-weight:normal;
  color:#333;
  overflow-x: hidden;
}

.parallaxHeaderImage, .parallaxSpacerImage  {
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
  fixed = parallax
  scroll = normal
  */
  background-attachment:fixed;
}

.parallaxHeaderImage {
  background-image:url('../img/bg/m-header.png');
  min-height:80%;
}

.parallaxImage{
  width:50%;
  max-width: 400px;
}

.parallaxImage:before {
  content: "";
  background-image: url('../img/m-brand.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 100%; 	/* initial ratio of 1:1*/
}

.parallaxSpacerImage {
  background-image:url('../img/keyboard-illustrate-70.jpg');
  min-height:50%;
}

.parallaxText {
  text-align:center;
  color:#000000;
  font-size:12vw;
  text-transform:uppercase;
}

.parallaxText .parallaxBorder {
  background-color:#333333;
  color:#FF9900;
  padding:20px;
}

@media(max-width:568px) {
  .parallaxHeaderImage, .parallaxSpacerImage{
    background-attachment:scroll;
  }
}

.section {
  text-align:center;
  padding:50px 80px;
  min-height: 100%;
  height: auto;
}

.section-light {
  background-color:#FFFFFF;
  color:#333333;
}

.section-dark {
  background-color:#333333;
  color:#FF9900;
}

.section h2 {
  text-transform:uppercase;
  font-size: 12vw;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer{
  background-color: #FFFFFF;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.footer div{
  width: 20%;
  align-self: center;
}

.footer-right a img {
  height:5vh;
  vertical-align: middle;
}
