*{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family:  'Poppins', sans-serif;
    color: #333;
}

p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
}

.section {
    text-align: center;
    min-height: 50%;
    overflow: hidden;
}

.section-light {
    background-color: #FFFFFF;
    color: #333333;
}

.section-dark {
    background-color: #333333;
    color: #FF9900;
}

.section-content{
    padding: 50px 20%;
    height: 100%;
}

.section-heading{
    font-size: 5vw;
}

.particle-container{
    position: relative;
}

.particle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.m-heading {
    margin: 0 auto;
    align-self: center;
    padding: 0px 40px;
    background: #333333;
    font-size: 10em;
    font-weight: 1000;
    color: #FF9900;
    border: 2px dashed orange;
    border-radius: 120px;
    box-shadow: 0 0 0 4px #333;
}


.parallax-heading {
    text-align: center;
    color: #000000;
    font-size: 5vw;
    text-transform: uppercase;
    background-color: #333333;
    color: #FF9900;
    padding: 20px;
    outline: 1px dashed #FF9900;
    outline-offset: -8px;
}

.parallax-container {
    height: 500px;
}

.parallax {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.parallax img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.parallax-keyboard {
    height:200px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 200px;
    font-size: 50px;
}

.footer div{
    width: 50%;
    justify-content: space-around;
}

.footer a{
    text-decoration: none;
    padding-top: 10px;
}

.footer a div{
    background: #FF9900;
    width: 100px;
    height: 100px;
    color: white;
}

.footer a div:hover{
    background: #FFF;
    color: #FF9900;
    width: 96px;
    height: 96px;
    border: 2px #FF9900 solid;
}